@page
@model sueldo_rrhh.Pages.Admin.FeriadosTrabajados.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FeriadoTrabajado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FeriadoTrabajado.ContratoId" class="control-label"></label>
                <select asp-for="FeriadoTrabajado.ContratoId" class ="form-control" asp-items="ViewBag.ContratoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FeriadoTrabajado.FeriadoId" class="control-label"></label>
                <select asp-for="FeriadoTrabajado.FeriadoId" class ="form-control" asp-items="ViewBag.FeriadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FeriadoTrabajado.HorasTrabajadas" class="control-label"></label>
                <input asp-for="FeriadoTrabajado.HorasTrabajadas" class="form-control" />
                <span asp-validation-for="FeriadoTrabajado.HorasTrabajadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
