@page
@model sueldo_rrhh.Pages.Admin.Recibos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recibo</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recibo.ContratoId" class="control-label"></label>
                <select asp-for="Recibo.ContratoId" class="form-control" asp-items="ViewBag.ContratoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Recibo.Periodo" class="control-label"></label>
                <input asp-for="Recibo.Periodo" class="form-control"/>
                <span asp-validation-for="Recibo.Periodo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Recibo.AdicionalAsistencia"/> @Html.DisplayNameFor(model => model.Recibo.AdicionalAsistencia)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}